

@import "../node_modules/bootstrap/scss/bootstrap"; 

#best place {
    height: 600px;
}
#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}


.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
<!--left-about-->
.left-about-heading {
     width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px
}
.right-about-heading h2 {
    text-align: right;
}
.right-about-heading p {
    text-align: right;
}

<!--welcome-->


<!--times-->
