@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap 100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
body {
    background-image: url(https://dcc28af6-f99b-4c1a-923d-9b9babc73bb0.ws-eu01.gitpod.io/mini-browser/workspace/Xhulja-s-Beauty-Salon/assets/css/images/20180705_163518_IMG_1539.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;

  
  /* Needed to position the navbar */
  position: relative;
}


/* The navbar */
.topnav {
  overflow: auto;
  background-color: #BC00DD;
  float: right;
  
}

/* Navbar links */
.topnav a {
  float:right;
  color: #333;
  text-align: center;
  padding: 10px, 10px;
  margin: 0;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #FD6C9E;
  color: black;
}
img {
    width: 300px;
}
h2 {
    text-align: center;
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: middle;
    background-color:#BC00DD;


}
h3 {
    font-size: 30px;
    padding-bottom: 10px;
}
.header {
  overflow: hidden;
  padding: 10px 10px;


}

/* Style the header links */
.header a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 60px;
  font-size: 18px;
  
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 60px;
  font-weight: bold;

}

.header a:hover {
  background-color: #FD6C9E;
  color: black;
}
.header a.active {
  background-color: #DA17B7;
  color: white;


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .navbar a   {
    float: none;
    display: fixed;
    text-align: right;
  
  }
.container{
    justify-content: space-between;
}
  
  #more {display: none;}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 90px;
    color: #fff;
}
div {
width: 35px;
height: 5px;
background-color:#FD6C9E;
margin: 6px 0px;
padding left: 50px;
padding right: 50px;;
}

.btn {
    background-color: #BC00DD; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 
ul#social-networks.row {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: tranparent;
  color: #ff00bc;
  text-align: center;
  display: block;
  }
.fa {
  padding: 20px;
  font-size: 600px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color : #BC00DD;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

