@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap 100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
body {
    background-image: url(https://dcc28af6-f99b-4c1a-923d-9b9babc73bb0.ws-eu01.gitpod.io/mini-browser/workspace/Xhulja-s-Beauty-Salon/assets/css/images/20180705_163518_IMG_1539.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;

  
  /* Needed to position the navbar */
  position: relative;
}


/* The navbar */
.topnav {
  overflow: auto;
  background-color: #BC00DD;
  float: right;
}

/* Navbar links */
.topnav a {
  float:right;
  color: #333;
  text-align: center;
  padding: 5px, 5px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #FD6C9E;
  color: black;
}
img {
    width: 300px;
}
h2 {
    text-align: center;
    font-size: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.header {
  overflow: hidden;
  padding: 10px 10px;
  
}

/* Style the header links */
.header a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #FD6C9E;
  color: black;
}
.header a.active {
  background-color: #DA17B7;
  color: white;

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: right;
  }
  .header-right {
    float: right;
  }

  #menu {
      background-color: lightpink;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div {
width: 35px;
height: 5px;
background-color:#FD6C9E;
margin: 6px 0;
}

.btn btn-info {
color: #FD6C9E;
}

footer {
    height: 150px;
}

#social-networks {
    display: inline-block;
    text-align: center;
    background-color: #BC00DD;
    }